* {
  font-family: "Oswald";
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100%;
}

body {
  background: black;
  color: white;
}

button {
  outline: none;
}

#loader {
      width: 100%;
      height: 100%;
      background-color: white;
      margin: 0;
}

.container {
  display: flex;
}

.left, .right, .middle {
  display: flex;
  flex: 1;
}

.middle {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

.title {
  text-align: center;
  font-size: 200%;
}

.tabtop {
  background: red;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
}

.tablink {
  background: none;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.tablink:hover {
  background: black;
  color: white;
  transition-duration: .4s;
}

.tabcontent {
  color: white;
  display: none;
  padding: 20px;
  height: 100%;
}

.page_links {
  display: flex;
  flex-wrap: wrap;
}

.page_links a {
  text-decoration: none;
}

.button {
  background: black;
  color: white;
  border: 2px solid white;
  margin: 10px;
  padding: 10px;
}

.button:hover {
  background: white;
  color: black;
}
